/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.header {
    background-image: linear-gradient(cornflowerblue, white);
    height: 100px;
    position: relative;
    width: 100%;
}

#logo {
    float: left;
    height: 100%;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: #2273a0;
    height: 100%;
    color: #0080ff;
    font-weight: 500;
}

.dropdown-item {
    font-weight: 500;
    font-size: 9pt;
}

.form-control.form-control-lg {
    float: left;
    width: 20%;
    margin-top: 2%;
    height: 3%;
    font-size: 8pt;
    font-weight: 700;
}

.search {
}

.dropdown {
    margin-top: 2%;
    float: left;
    margin-left: 25% !important;
    margin-right: 1px !important;
    height: calc(2.3125rem + 2px);
}

.searchBtn {
    margin-top: 2%;
    height: calc(2.3125rem + 2px);
    width: calc(2.3125rem + 2px);
    background-color: #2471a7;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    color: white;
}
.fa-search{
    margin-bottom: 5px;
    margin-right: 6px;
    padding-right: 10px;
}
/*#searchBar {
    float: left;
    margin-left: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}

#searchInput {
    margin-bottom: 15px;
    height: 34px;
    width: 300px;
    border-radius: 5px;
}
.dropdown {
    float: left;
}

#search-btn {
    border-radius: 5px;
    border: solid steelblue;
    background-color: steelblue;
    color: white;
    width: 40px;
    height: 34px;
}*/

#profilePic {
    border-radius: 100px;
    height: 80px;
    position: absolute;
    margin-left:1300px;
    margin-top: 10px;
    
}

#menu {
    color: cornflowerblue;
    background-color: whitesmoke;
    background-image: linear-gradient( to top, whitesmoke, white);
}

#menu ul li:hover, li:active {
    background-color: lightgray;
    transition: 0.5s;
}

#menu ul li {
    display: inline-block;
    padding: 20px;
}

#menu ul li a {
    text-decoration: none;
}