@{
    Layout = null;
}

@Html.Raw(TempData["invalidUserMessage"])

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Log In</title>
    <link href="~/Content/Styles/loginPage.css" rel="stylesheet" />
</head>
<body>
    <div id="background">
        <div class="container" id="signUpButtonContainer">
            <button id="signUpButton" class="btn btn-primary">Sign Up</button>
        </div>
        <div class="text-center" style="margin-top:120px;">
            <img src="~/Content/Images/logo.png" name="headerLogo" width="320" height="160" />
        </div>
        <div class="text-center" style="margin-bottom:20px;">
            <p class="h4"><strong>Building Product Selection Platform</strong></p>
        </div>
        <div class="container" style="justify-content:center;width:450px;">
            <form method="post" action="@Url.Action("LogIn", "Home")">
                <div class="form-group has-feedback">
                    <input name="username" type="text" class="form-control" id="email" placeholder="Username or Email">
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                </div>
                <button type="submit" class="btn btn-primary" style="float: right;">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>