
@{
    Layout = null;
}

<!DOCTYPE html>

<style>

    html {
        background-image: linear-gradient(#2474a7,#f9fafc);
        height: 100%;
    }

    .logoImage {
        height: 10%;
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    .desc {
        font-size: 1.5vw;
        margin-top: 1.7%;
        font-weight: 500;
        text-align: center;
    }
</style>

<html>
    <body>
        <img class="logoImage" src="~/Content/Images/joole_logo.png" alt="Joole Logo">

        <div class="desc">
            Building Product Selection Platform
        </div>
        @{ Html.RenderPartial("_searchPartial");}
    </body>
</html>
