
@{
    ViewBag.Title = "Compare";
}

<head>
    <link href="~/Content/Product styles/compareDetails.css" rel="stylesheet" />
</head>

<div class="body">
    <div class="directory">
        <ul class="breadcrumb">
            <li><a>Path 1</a></li>
            <li><a>Path 2</a></li>
            <li>Current Page</li>
        </ul>
    </div>
    <div id="compareTable">
        <table id="compareDetails">
            <tr>
                <td></td>
                <td><img src="~/Content/Images/fan1.png" /></td>
                <td><img src="~/Content/Images/fan2.png"/></td>
            </tr>
            <tr>
                <th colspan="4">DESCRIPTION</th>
            </tr>
            <tr>
                <th>Manufacture</th>
                <td>Big Ass</td>
                <td>Emerson</td>
            </tr>
            <tr>
                <th>Series</th>
                <td>Haiku H</td>
                <td>Luray Eco</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>S3150-S0-BC-04-01-C-01</td>
                <td>CF860</td>
            </tr>
            <tr>
                <th colspan="4">TYPE</th>
            </tr>
            <tr>
                <th>Use Type</th>
                <td>Commercial</td>
                <td>Commercial</td>
            </tr>
            <tr>
                <th>Manufacture</th>
                <td>Big Ass</td>
                <td>Emerson</td>
            </tr>
            <tr>
                <th>Manufacture</th>
                <td>Big Ass</td>
                <td>Emerson</td>
            </tr>
            <tr>
                <th>Manufacture</th>
                <td>Big Ass</td>
                <td>Emerson</td>
            </tr>
            <tr>
                <th>Manufacture</th>
                <td>Big Ass</td>
                <td>Emerson</td>
            </tr>
            <tr>
                <th colspan="4">TECHNICAL SPECIFICATIONS</th>
            </tr>
            <tr>
                <th>Manufacture</th>
                <td>Big Ass</td>
                <td>Emerson</td>
            </tr>
            <tr>
                <th>Manufacture</th>
                <td>Big Ass</td>
                <td>Emerson</td>
            </tr>
            <tr>
                <th>Manufacture</th>
                <td>Big Ass</td>
                <td>Emerson</td>
            </tr>
            <tr>
                <th>Manufacture</th>
                <td>Big Ass</td>
                <td>Emerson</td>
            </tr>
        </table>
    </div>
</div>

