
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testFilter</title>
</head>
<body>
    <div> 
        <button onclick="location.href='@Url.Action("fanFilter", "Product")'"> test fan filter</button>
    </div>
</body>
</html>
